@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@1,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#logo {
    height: 40px;
}

/*Start NAVBAR */
#Navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;

    margin: auto;
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#Navbar_right {
    display: flex;
    gap: 30px;
    align-items: center;
}

#Navbar_right,
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#Navbar_1 {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;

}

.fa-angle-down {
    margin-left: 5px;
    transition: all 0.4s ease;
    color: black;
}

#head,
.fa-angle-down:hover {
    transform: rotate(180deg);
    color: black;
}

#heading1:hover,
#head:hover {
    color: #12a0ac;
    /* transform: r; */

}

#button_right {
    display: flex;
    gap: 10px;
}

#Search_button {
    background-color: white;
    border: none;
    height: 40px;
    width: 70px;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    /* margin-right: 10px; */
}

.fa-magnifying-glass {
    color: #12a0ac;
    font-size: 13px;
    /* margin-left: 0px; */
}

#Sign_in {
    background-color: #f8f5f2;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
}

#craete_btn {
    background-color: #f45d48;
    border: none;
    height: 40px;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;

}

#craete_btn,
.textcreate {
    color: white;
}


/*End NAVBAR */
/*Start NAVBAR */
#top_sect {
    object-fit: contain;
    margin-top: -10px;
    margin-bottom: 40px;
    padding-left: 130px;
    padding-top: 10px;
    height: 800px;
    /* width: 1500px; */
    background-image: url(https://prod.gusto-assets.com/assets/homepage/hp-lemon-yellow-miami-745d69be5bfb0771505b993c2fa7da923b63bd8a684a0a3697533ba4aa72935c.jpg.webp);
}

#Top_Section {
    width: 624px;
    border-radius: 10px;
    background-color: white;
    height: 650px;
}

.card_head {
    font-family: 'Ubuntu';
    text-align: left;
    padding-left: 60px;
    padding-top: 50px;
    font-size: 40px;
    font-weight: 500;
}

.card_h3 {
    text-align: left;
    padding-left: 60px;
    padding-top: -10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

#Top_Section_card {
    display: flex;
    border: 1px solid #dddee0;
    margin-top: 10px;
    width: 515px;
    height: 80px;
    gap: 20px;
    margin-left: 40px;
    align-items: center;
    padding-left: 30px;
}
#Top_Section_card:hover{
    border: 1px solid 
    #12a0ac;
    cursor: pointer;
}
#Title{
    font-size: 14px;
    color: #848484;
}
#Title:hover{
    color: 
    #12a0ac;
    cursor: pointer;
}
#card_btn{
    margin-top: 20px;
    margin-left: 40px;
    background-color: #f45d48;
    color: white;
    border: none;
    height: 50px;
    width: 220px;
    font-size: 16px;
    border-radius:7px;
    cursor: pointer;
    /* gap: 40px; */
    /* margin-left: 20px; */
}

#card_more{
    margin-top: 20px;
    margin-left: 20px;
    background-color:#f8f5f2 ;
    color: black;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    border-radius:7px;
}
#card_more:hover{
    color:  #12a0ac;
}
#t2{
    color: white;
}
#t1{
    color: black;
    font-size: 17px;
    font-weight: 500;
}
/*End NAVBAR */
/* <!---------------------------------------START-Landing-page-M-Section-----------------------------------> */
#M_Section{
    display: flex;
    justify-content: space-evenly;
    /* -top: 20px; */
    /* text-align: center; */
    margin: auto;
    gap: 30px;
        border: 1px solid black;

    width: 90%;
    align-items: center;
}
#ima_1{
    background-image: url(https://prod.gusto-assets.com/assets/homepage/doodle-background-b0e2595deb0ccbef1675cf334a57d48104aa61824573dc6869088cb2b2334469.png.webp);
    background-size:cover;
    height: 200px;
    /* border: 1px solid black; */

    width: 20%;
}
#icon{
    /* border: 1px solid black; */
    width: 20%;
    text-align: center;
    padding-top: 10px;
    height: 200px;

}
#ads{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
}
#ads1{
    display: flex;
    padding-left: 50px;
    padding-right: 40px;
    align-items: center;
}
#icon1{
    /* border: 1px solid black; */
    width: 20%;
    height: 200px;
    text-align: center;
    padding-top: 20px;
    /* line-height: 1px; */
    
}
#icon1>h4{
    font-size: 17px;
    margin-top: 1px;
}
#p1{
    border-right: 2px solid black;
    padding: 5px;
    width: 100px;
}

/* <!---------------------------------------START-Landing-page-M-Section-----------------------------------> */

/* <!---------------------------------------START-Landing-page-M-Section-----------------------------------> */
#M_Mid_Section{
    background-color:#f8f5f2 ;
    padding-top: 70px;
    text-align: center;
}
#M_Mid_Section>p{
    color: #f45d48;
    font-weight: 600;
}
#M_Mid_Section>h1{
    font-size: 40px;
    line-height: 50px
}
#M_mid_Section_1{
   padding-top: 90px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    margin: auto;
}
#imh{
    width: 100px;
    height: 60px;
}
#learn{
    color: #12a0ac;
    font-size: 17px;
}
#learn:hover{
    border-bottom: 1px solid #12a0ac;
}
#modern_icon>p{
    font-size: 15px;
    font-weight: 600;
}
#modern_icon>p>a:hover{
    border-bottom: 1px solid #12a0ac;
    color: #12a0ac;
}
#Director{
    background-color: #0a8080;
    color: white;
    height: 500px;
    padding-top:50px;
}
#Banner>img{
height: 400px;
margin-bottom:-50px ;
}
#Director>h2{
    font-size: 35px;
}
#flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
#flex>div>img{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-top:2px solid white;
    height: 40px;
    padding-right: 18px;
}
#flex>div>p{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-top:2px solid white;
    height: 40px;
    /* margin-top: 3px; */
    font-size: 20px;
    padding-left: 10px;
    
}
#Middle_Section{
    text-align: center;
}
#Middle_Section>h1{
    font-size:40px;
    text-align: center;
    margin-top: 100px;
    font-weight: 600;
}
#card_btn1{
    background-color: #f45d48;
    color: white;
    border: none;
    height: 50px;
    width: 220px;
    font-size: 19px;
    border-radius:7px;
    cursor: pointer;   
}


/* FOOTER */
#Footer_Section{
    display: flex;
    padding-top: 100px;
    width: 90%;
    margin: auto;
    /* display: inline; */
}
#inline_left>div>p{
    color:#f45d48 ;
    width: 170px;
    font-weight: 600;
}
#inline_left>div{
    display: block;
    
    /* padding-bottom: 40px !important; */


    /* border: 1px solid black; */
   
    /* width: 180px; */
    /* border: 1px solid black; */
}
#inline_left>div>a{
    width: 160px;
    font-size:14px;
    padding-top: 20px;
}
#inline_left>div>a:hover{
    color:#12a0ac;
}
#a1{
    width: 200px;
}
#word{
    display: flex;
}
#inline_1{
    width: 300px;
}

#middle_left>div{

    /* display: block; */
    width: 300px;
}
#middle_left>div>p{
    color:#f45d48;
    width: 170px;
    font-weight: 600;
    
}
#middle_left>div>a:hover{
    color:#12a0ac;
}
#middle_left>div>a{
    padding-top: 20px;
    font-size: 14px;
    width: 160px;
}
#middle_right>div{
    width: 300px;

}
#middle_right>div>p{
    color:#f45d48;
    width: 170px;
    font-weight: 600;
}
#middle_right>div>a{
    padding-top: 20px;
    font-size: 14px;
    width: 160px;

}