* {
    padding: 0px;
    margin: 0px;

}

body {
    background-color: #f8f5f2;
}

#heading_img h1+p {
    font-size: 19px;
    width: 76%;
    color: #462548;
}

.T {
    color: #f45d48;
    font-size: 19px;
    padding-bottom: 15px;
    margin-top: 60px;
}

#heading_img {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #ffffff;
    padding-bottom: 80px;
}

#img {
    width: 54%;
}

#heading {
    width: 54%;
    padding: 5px;
}

#img img {
    width: 100%;
    height: 415.55;
    padding-left: 20px;
    object-fit: contain;
}

#heading h1 {
    width: 499.2px;
    font-size: 53px;
    padding-bottom: 20px;
}

/* ---------------------mid section  ------------------*/

#mid_section {

    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 90px;

}

.cal {
    text-align: center;
    background-color: white;
    height: 200px;
    padding: 60px 32px;
}

.cal>p {
    margin-top: 20px;
    color: #525257;
    font-size: 20px;
}

.cal>h3 {
    font-size: 25px;
}

.cal h3+p+p {
    color: #0A8080;
    font-family: 'Times New Roman', Times, serif;
}

.cal:hover {
    cursor: pointer;
    border-bottom: 3px solid#f45d48;
}

/*--------------- countrys----------------- */
#country {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    color: #0A8080;
    font-size: 20px;
}

#H_pay_cal {
    border: 1px solid;
    padding: 40px;
}

#H_pay_cal>h1 {
    margin-bottom: 30px;
    font-size: 39px;
}