*{
    margin: 0px;
    padding: 0px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}
#login{
    /* border: 1px solid; */
    
    padding: 30px 50px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center; */
}#right{
    margin-top: 120px;
    margin-left: -12px;
}#left{
    margin-top: 50px;
    margin-left: 12px;
}label{
    margin-left: 0px;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.3px;
}u{
    color: teal;
}input{
    height: 40px;
    border: 0px;
    background-color: rgb(234, 233, 233);
    border-bottom: 2px solid;
    border-color: rgb(142, 142, 142);
}#logo{
    width: 150px;
    margin: auto;
    padding: 0px 0px 50px 0px;
    margin-top: 0px;
    /* padding-top: 0px; */
}#check{
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
    font-size: 20px;
}#signin{
    width: 100%;
    padding: 12px;
    margin: 17px 0px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: transparent;
    background-color: teal ;
    border-radius: 5px;
}#google{
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    color: teal;
    height: 50px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border:1px solid teal; 
    border-radius: 5px;
background-color:transparent;
}#google>img{
    height: 60%;

}.or{
    text-align: center;
}#buttons{
    display: flex;
    gap: 10px;
    width: 100%;
}#buttons>button{
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    color: teal;
    height: 50px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border:1px solid teal; 
    border-radius: 5px;
background-color:transparent;
}#footer{
    width: 40%;
    padding: 50px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}