*{
    margin: 0px;
    padding: 0px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}
#login{
    border: 1px solid;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}